body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1200px;
}
.container .box {
  width: 16%;
  float: left;
}
.container .box h2 {
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.container .box .chart {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  line-height: 140px;
  color: #000000;
}
.container .box canvas {
  position: absolute;
  top: 0;
  left: 0;
}

h2 {
  font-size: 20px;
}
