body {
	background-color: #0000005c;
}

hr {
	float: right;
}

#repohr {
	position: relative;
	bottom: 10px;
}

.category {
	font-size: 24px;
}

#github_logo {
	position: relative;
	right: 60px;
}

#url_logo {
	position: relative;
	bottom: 56px;
}

#repo {
	position: relative;
	left: 30px;
	bottom: -10px;
}

#lang_repo {
	text-align: right;
}

.watch {
	position: relative;
	top: 6px;
}
.star {
	position: relative;
	right: 25px;
	top: 6px;
}
.fork {
	position: relative;
	right: 26px;
	top: 1px;
}
.code_line {
	position: relative;
	right: 5px;
	top: 2px;
	height: 20px;
	width: 24px;
}

.watch_count {
	position: relative;
	right: 16px;
	bottom: 3px;
}
.star_count {
	position: relative;
	right: 44px;
	bottom: 3px;
}
.fork_count {
	position: relative;
	right: 22px;
	bottom: 3px;
}
.code_line_count {
	position: relative;
	bottom: 2px;
}

a {
	font-size: 14px;
}
a:link {
	color: #DA81F5;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#lang {
	position: relative;
	left: 30px;
	bottom: 13px;
}

.box {
	position: relative;
	bottom: 330px;
	left: 40px;
}

#select_box {
	position: relative;
	right: 970px;
	top: 194px;
}
#select_box_submit {
	position: relative;
	right: 950px;
	top: 194px;
}

#topic {
	position: relative;
	right: 820px;
	top: 186px;
	background-color: white;
}

#event {
	position: relative;
	left: 980px;
	bottom: 122px;
	background-color: white;
}

#profile_page {
	box-shadow: 5px 5px 5px;
	background-color: white;
	width: 90%;
	height: 1100px;
	position: relative;
	margin: auto;
}

#subject {
	font-size: 36px;
	text-align: right;
	position: relative;
	right: 60px;
}

#user_area {
	position: relative;
	right: 50px;
}

#user_img {
	float: right;
	position: relative;
	bottom: 10px;
	right : 10px;
}

#url {
	position: relative;
	top: 6px;
}

.user {
	text-align: right;
	vertical-align: middle;
	position: relative;
	right: 74px;
	top: 10px;
	height: 110px;
}

.repo_list {
	text-align:justify;
	position: relative;
	top: 18px;
	right: 10px;
}
.repo_list li {
	display: inline-block;
	width: 40%;
	border-top: 1px solid black;
}
.repo_list::after {
	content: '';
	display: inline-block;
	width: 100%;
}

.At_time {
	color: #848484;
	font-size: 10px;
}

li {
	width: 40%;
	margin: 10px 50px;
}

#hide_block {
	background-color: white;
	height: 30px;
	width: 80px;
	z-index: 10;
	position: absolute;
	bottom: 30px;
	left: 70px;
}

#chartContainer {
	position: relative;
	right: 1140px;
	top: 190px;
}

#myRadarChart {
	position: relative;
	left: 710px;
	bottom: 100px;
}

#myBarChart {
	position: relative;
	left: 80px;
}

table {
	position: absolute;
	left: 760px;
	bottom: 140px;
	border-collapse: collapse;
	text-align: center;
}

table, th, td {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

th {
	background-color: #D8D8D8;
	width: 120px;
}

td {
	font-size: 16px;
}
